body {
	background-color: #2E5266;
	color: white;
	font-family: 'Noto Sans';
	margin: auto;
	overflow-wrap: break-word;
	word-wrap: break-word;
    line-height: 1.5;
    text-align: left;
}

main {
	margin: auto;
	max-width: 60ch;
	padding: 20px;
}