---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../config';
---

<!DOCTYPE html>
<html lang="en-us">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<h1>Hello, my name is Loris!</h1>
			<p>
				I am a french software engineer apprentice. 
			</p>
			<p>
				I'm currently studying at Telecom Nancy.
			</p>
			<p>
				I'm also working at Boursorama as a web developer. 
			</p>
			<p>
				Outside of programming, I enjoy tennis, esport and restaurants.
			</p>
		</main>
		<Footer />
	</body>
</html>
